body {
	background-color: #eef;
	color: #223;
	font-family: Georgia, serif;
	font-size: 18px;
	line-height: 1;
}
div.wrapper {
	margin: 0 auto;
	width: 650px;
	line-height: 1.5em;
}
h1 {
	color: #114;
	font-size: 2.5em;
	margin: 0.5em 0;
}
hr {
	background-color: #99c;
	border: 0;
	color: #99c;
	height: 1px;
}
code {
	line-height: 1.25em;
	font-size: 14px;
}